Package: quiet
Version: 0.6.0
License: MIT
Vendor: inkbox <enpassPixiv@protonmail.com>
Architecture: amd64
Maintainer: inkbox <enpassPixiv@protonmail.com>
Depends: libvlc-dev, appindicator3-0.1, libappindicator3-dev
Section: default
Priority: extra
Homepage: https://github.com/inkroom/wallpaper
Description: 
  多来源音乐播放器
