Package: quiet
Version: _version_
Installed-Size: _size_
License: MIT
Vendor: inkbox <enpassPixiv@protonmail.com>
Architecture: amd64
Maintainer: inkbox <enpassPixiv@protonmail.com>
Depends: appindicator3-0.1,libappindicaor3-dev,libgstreamer1.0-dev,libgstreamer-plugins-base1.0-dev,zenity
Section: default
Priority: extra
Homepage: https://github.com/inkroom/flutter-netease-music
Description: 
  多源音乐播放器
