Package: quiet
Version: 0.6.0
License: MIT
Vendor: inkbox <enpassPixiv@protonmail.com>
Architecture: amd64
Maintainer: inkbox <enpassPixiv@protonmail.com>
Depends: gconf2, gconf-service, libnotify4, libappindicator1, libxtst6, libnss3, libxss1, libvlc-dev
Section: default
Priority: extra
Homepage: https://github.com/inkroom/wallpaper
Description: 
  多来源音乐播放器
